.container{
    display:grid;
    height:800px;
    width: 800px;
    grid-template-columns: repeat(26,minmax(5px,1fr));
    grid-template-rows: repeat(26,minmax(5px,1fr));
    background: burlywood;
    justify-content: stretch;
    align-content: stretch;
    
   
}
.subcontainer {
    display:grid;
    width: 1fr;
    height: 1fr;
    background:white;
    border-style: solid;
    border-color:white;
    border-width: 0px;

}